<table class='table table-condensed'>
  <tr class='grey-header'>
    <th>Quotations</th><th></th><th></th><th></th> 
  </tr>
	<% @project.quotations.each do |quote| %>
	  <tr>
			<td><%= link_to quote.code, quote %></td>
		  <td><%= quote.name %></td>
			<td class="text-right"><%= number_to_currency(quote.total) %></td>
			<td class="text-right"><%= quote.current_state %></td>
	  </tr>
  <% end %>
</table>