<table class='table table-condensed'>
  <tr class='grey-header'>
    <th>Sales Orders</th><th></th><th></th><th></th> 
  </tr>
	<% @project.sales_orders.each do |sales_order| %>
	  <tr>
			<td><%= link_to sales_order.code, sales_order %></td>
		  <td><%= sales_order.name %></td>
			<td class="text-right"><%= number_to_currency(sales_order.total) %></td>
			<td class="text-right"><%= sales_order.status %></td>
	  </tr>
  <% end %>
</table>