<table class="table table-condensed table-hover">
  <tr>
    <th>Name</th>
    <th>Accounts Ref.</th>
  </tr>

<% @companies.each do |company| %>
  <tr onclick="location.href='<%= company_path(company) %>'">
    <td><%= company.name %></td>
  	<td><%= company.reference %></td>
  </tr>
<% end %>
</table>