<table class="table table-sm table-hover">
  <tr>
    <th>Name</th>
    <th>Accounts Ref.</th>
  </tr>

<% @companies.each do |company| %>
  <tr title="Click to view Company details" class="rowlink" data-rowlink="<%= company_path(company) %>">
    <td><%= company.name %></td>
  	<td><%= company.reference %></td>
  </tr>
<% end %>
</table>