@import "bootstrap";
body {
	padding-top: 60px;
}
input[readonly], textarea[readonly], select[readonly] {
  cursor: not-allowed;
  background-color: white;
}
@import "bootstrap-responsive";

.text-right
{
    text-align: right !important;
}